body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }

  .hero {
    background-color: #e0e0e0;
    padding: 50px 20px;
    background-image: url('../../assets/img/bg-3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -100px;
  }
  
  .hero-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .video-placeholder img {
    width: 400px;
  }
  
  .hero-logo img {
    height: 100px;
  }
  
  .hero-pokemon img {
    height: 200px;
  }
  
  .content {
    padding: 50px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #727272;
  }
  
  .text-content {
    width: 40%;
  }
  
  .phone-image img {
    width: 300px;
  }
  
  .slider {
    width: 100%;
    text-align: center;
    margin-top: 50px;
  }
  
  .slider-content img {
    height: 150px;
    margin: 0 10px;
  }
.niantic {
  mix-blend-mode: darken;
}